/*start general properties for website*/
@import 'animations';
@import 'global';

.vertical-menu ,
.navbar-brand-box{
    background-color: transparent !important;
}
.primary-color{
    color: #008BD2;
    font-size: 17px;
    font-weight: 700;

    i{
        margin-inline-end: 2px;
    }
}
.dark-color{
    color: #2A2A2A;
    font-size: 14px;
    font-weight: 500;

    i{
        margin-inline-end: 2px;
    }
}
.box , .card{
    width: 100%;
    padding: 20px 15px;
    background-color: #fff;
    border: 1px solid #EFEFEF;
    border-radius: 10px;
    transition: all .3s linear;
    height: 100% !important;

    .box-icon{
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        background-color: #fff;
        border-radius: 50%;
        box-shadow: 0px 0px 10px rgba($color: #008BD2, $alpha: .05);
        margin: 0px auto 15px;

        i{
            color: #008BD2;
            font-size: 30px;
        }
    }

    h4{
        color: #000000;
        font-size: 20px;
        font-weight: 900;
        margin-bottom: 15px;

        &.heading{
            text-align: center;
        }

        &.primary-color{
            color: #008BD2;
        }
    }

    p{
        color: #A2A2A2;
        font-size: 15px;
        font-weight: 500;
        text-align: center;
        margin: 0px;

        span{
            font-weight: 900;
            margin-inline-start: 10px;
        }
    }

    &:hover {
        transform: translateY(-10px);

        i{
            animation: pulse .4s linear;
        }
    }
}
.form-contain{
    width: 100%;

    .form-group{
        label {
            display: flex;
            align-items: center;
            align-content: center;
            margin-bottom: 15px;

            i{
                margin-inline-end: 10px;
                color: #008BD2;
                font-size: 15px;
            }

            span{
                color: #2A2A2A;
                font-size: 15px;
                font-weight: 700;
            }
        }

        .form-control {
            width: 100%;
            height: 50px;
            border-radius: 30px;
            border: 1px solid #A2A2A2;
            padding: 0px 25px;
            color: #000000;
            font-size: 18px;

            &.textarea{
                height: 100px !important;
                resize: none;
                border-radius: 10px !important;
                padding-top: 15px;
            }

            &::placeholder {
                color: #A2A2A2;
                font-size: 15px;
                font-weight: 500;
            }

            &:focus, &:hover {
                border-color: #008BD2;
            }
        }

        select{
            color: #A2A2A2 !important;
            option{
                color: #A2A2A2 !important;
            }
        }
    }
}

.btn-primary-shape {
    width: 50%;
    margin: 0px auto;
    height: 50px;
    background-color: #008BD2;
    border: 0px !important;
    outline: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;

    &.small-btn{
        width: 300px !important;
        margin: unset !important;
    }

    i {
        margin-inline-end: 10px;
        color: #fff;
        font-size: 18px;
    }

    span {
        color: #fff;
        font-size: 18px;
        font-weight: 700;
    }
}
.modal-body{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    padding: 60px 15px;

    img{
        width: 100px;
        height: 100px;
        object-fit: contain;
        margin-bottom: 20px;
    }

    h4{
        color: #000000;
        font-size: 18px;
        font-weight: 900;
        margin: 0px;
    }
}
.table-contain{
    width: 100%;
    overflow-x: scroll !important;

    &::-webkit-scrollbar-track {
        background-color: transparent !important;
    }
    
    &::-webkit-scrollbar-thumb {
        background: transparent !important; 
        border-radius: 8px;
    }
    &::-webkit-scrollbar {
        width: 0px !important;
    }
    .table{
        th{
            background-color: rgba($color: #008BD2 , $alpha: .03);
            text-align: center;
            font-size: 18px;
            font-weight: 900;
            border: 0px !important;
        }

        td{
            color: #2A2A2A;
            font-size: 15px;
            font-weight: 500;
            text-align: center;

            .button-contain{
                display: flex;
                align-items: center;
                align-content: center;
                justify-content: center;

                img{
                    width: 24px;
                    height: 24px;
                    object-fit: contain;
                    margin-inline-end: 20px;
                }
            }
        }
    }
}


.navbar-brand-box{
    border-bottom: 1px solid #EFEFEF !important;
    .logo-lg img{
        width: 120px !important;
        height: 60px !important;
        object-fit: contain !important;
        object-position: center !important;
    }
}

.togller-shape{
    img{
        width: 24px;
        height: 24px;
        object-fit: contain;
    }
}
.bg-ligt{
    background-color: #fff !important;
}

.dark-theme{   
    .bg-ligt{
        background-color: #2A2A2A !important;
    }
}

@media (max-width: 999px) {
    .page-title-box{
        flex-direction: column;

        h4{
            margin-bottom: 20px !important;
        }
    }

    .table-contain {
        .table {
            th {
                font-size: 13px !important;
            }

            td {
                font-size: 12px !important;
            }

            th, td {
                min-width: 190px !important;
            }
        }
    }
}